body{
    margin: 40px;
}
header{
    display: block;
    border-bottom: 3px dotted black;
    display: flex;
}
nav{
    
    
   
}
ul{
   
    display: flex;
    margin: 0px;
    align-content: center;
    gap: 30px;
}

ul li{
    list-style-type: none;
   
    display: inline;
    
}
/**********************A Prpos********************/
h1{
    font-size: 40px;
}
a{
    text-decoration: none;
}
.div_etablissement h2,h1,#Section_lieu h2{
    
    margin-top: 0;
}
#Section_entete h1,#Secton_citation h1{
    margin-top: 5%;
    text-align: center;
}
#Section_entete p{
    margin-bottom: 15%;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}

.Section_parcourt,#Section_Competence{
    
    margin-right: 45%;
    margin-bottom: 15%;
    
}

.div_etablissement h1,h5{
   margin-bottom: 2%;
}
#image{
    width: 45%;
    height: 550PX;
    margin-left: 300px;
}
 #Section_activite img,#Section_lieu img {
    width: 45%;
    height: 550PX;

    
}
button{
    padding: 10px;
    margin: 20px 20px 0 0;
}
.div_etablissement{
    
    margin: 170px 0px 80px 30px;
}
#Section_etablissement,#Section_activite{
   margin-bottom: 15%;
    display: flex;
   
}
#imag{
    margin-left: 300px;
}
#Section_lieu{
    margin-bottom: 5%;
    display: flex;
}

#Section_experience{
    margin-left: 18%;
    
}
.div_entreprise{
   
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    
}
#Section_competence{
    margin-top: -10%;
    display: flex;
    margin-bottom: 15%;
}


.competence{
    width: 30%;
    margin-left: 3%;
}

/*********************************STYLE ENGAGEMENT***************************/
#Section_engagement{

    margin-bottom: 5%;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
#div_activite{
    margin: 70px 0 0 60px;
}
.activite{
    
    border-bottom: 3px solid black;
}

#Section_activite{
    margin-bottom: 15%;
    display: flex;
}
#Section_passion p{
    width: 45%;
    margin-left: 15%;
}
#Section_interet{
    display: flex;
    margin-bottom: 20%;
}
#Section_passion,#Section_ambition,#Section_voyage,#Section_aspiration{
    display: flex;
    margin-bottom: 5%;
}

.interet,.interet img{
    width: 25%;
    margin-left: 2%;
}

#Section_ambition{
    margin-bottom: 15%;
}
#Section_ambition p,#Section_voyage p,#Section_aspiration p{
    width: 55%;
    margin-left: 5%;
}
#Section_ambition h1,#Section_aspiration h1{
    width: 80%;

}
blockquote{
    margin-bottom: 15%;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-weight: bolder;
    font-size: large;
}
#image_end{
    width: 100%;
    height: 70%;
   ;
}


#ligne_interactive{
    display: flex;
    margin-bottom: 5%;
}
.ligne{
    background-color: black;
  
    width: 300px;
    height: 3px;
    margin-top: 3%;
}
.annee{
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.vil{
    margin-top: 12px;

   
}
.ville{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 3%;
}
.an{
    margin-bottom: 12px;
}
.cercle{
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.ligne_extremite{
    background-color: black;
  
    width: 200px;
    height: 3px;
    margin-top: 3%;
}
.cercle3{
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px; 
}
.ligne1{
    margin-left: 5px;
    width: 5px;
    height: 200px;
    background-color: black;
}
#Section_entreprise{
    display: flex;
}
.Section_entreprise{
    display: flex;
    flex-direction: column;
}
.cercle1{
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px; 
    margin: 5px 0 5px 0;
    
}
.cercleAndentreprise{
    display: flex;
}
#div_entreprise{
    width: 50%;
}
.ligneextrem{
    margin-left: 5px;
    width: 5px;
    height: 50px;
    background-color: black;
}
#actives{

}
.activite{
    color: gray;
   
}
.active {
    color: black;

}
.activ{
    background-color: gray;
}






